<form action='/names' method='post'>
  <div> Name Player 1: <input type='text' name='player1'> </div>
  Name Player 2: <input type='text' name='player2'>
  <button type='submit'>Submit</button>
</form>
